body {
  background-color: teal;
}

img{
  width: 50px;
  height: auto;
  padding: 5px;
}

.fruit {
display: inline;
width: 50%;
}

#shop {
  display: inline;
  float: left;
  width: 63%;
  length: 80%;
  border: 2px solid blue;
  overflow: visible;

}

#cart {
  display: inline;
  position: relative;
  float: right;
  width: 33%;
  length: 80%;
  border: 2px solid blue;
  padding: 3px;
}
